@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-serif;
  }

  /* span {
    @apply py-2;
  } */
}

@layer components {
  .header-btn {
    @apply p-4 m-2 text-2xl rounded-2xl hover:bg-sleuthe-yellow hover:text-white transition-colors duration-300 ease-in-out;
  }
}
